html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.box-2 {
  background-color: #1a2230;
  width: 100%;
  text-align: center;

}

h2 {
  color: #fff;
  font-family: 'Contrail One', cursive;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 2em;
  margin: 0;
}

header {
  background-color: #2c3950;
  padding-top: 4em;
}

.body {
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.headl {
  width: 125px;
  position: absolute;
  left: 35px;
  bottom: 57px;
}

.headr {
  width: 125px;
  position: absolute;
  right: 35px;
  bottom: 57px;
}

.robohead {
  width: 320px;
}

.brain {
  width: 46px;
  position: absolute;
  right: 137px;
  bottom: 111px;
}
